<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <title></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript">
    (function(w, d, s, u) {
    	w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
    	var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
    	j.async = true; j.src = 'https://chat.relative.media/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js?_=201702160944';
    	h.parentNode.insertBefore(j, h);
    })(window, document, 'script', 'https://chat.relative.media/livechat');
    </script>
  </body>
</html>
